*.pro
*.pro.user
*.pro.user*
build*
build-*
*.o
*.so
*.a
*.so.*
thirdparty/libzip-1.1.1
pointcloud109.png
save/image137.png
firefly/camera.txt
firefly/images.zip
.gitignore
result.txt
save/image478.png
save/image528.png
save/pointcloud137.png
save/pointcloud478.png
save/pointcloud528.png
save/image6s_466ms.png
save/image7s_200ms.png
save/image26s_533ms.png
save/image31s_333ms.png
save/pointcloud6s_466ms.png
save/pointcloud7s_200ms.png
save/pointcloud26s_533ms.png
save/pointcloud31s_333ms.png
todo
firefly/times.txt
save/image0s_0ms.png
save/image2s_300ms.png
save/image3s_950ms.png
save/pointcloud0s_0ms.png
save/pointcloud2s_300ms.png
save/pointcloud3s_950ms.png
result.txt
save/image_0min_0s_0ms.png
save/image_0min_28s_533ms.png
save/image_1min_24s_60666ms.png
save/pointcloud_0min_0s_0ms.png
save/pointcloud_0min_28s_533ms.png
save/
export2.pcd
export.pcd
